.friends__bita {
    width: 80%;
    height: 450px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
}
.modifier__title {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    background-color: rgb(243, 224, 224);
}

.modifier__title1 {
    color: rgb(6, 94, 6);
    font-size: 25px;
    font-family: 'Otomanopee One', sans-serif;
    text-transform: uppercase;
    display: block;
    padding-bottom: 6px;
}

.modifier__subtitle1 {
    color: rgb(54, 231, 54);
    font-size: 35px;
    line-height: 35px;
    z-index: 1;
    font-family: 'Otomanopee One', sans-serif;
    text-transform: uppercase;
    position:relative;
    background-color: rgb(243, 224, 224);
    padding-left: 2rem;
    padding-right: 2rem;

}

.modifier__title hr {
    position: absolute;
    margin-top: 4.55rem;
    height:2px;
    width:98.5%;
    border:solid 1px;
    background:rgb(54, 231, 54);
    color:rgb(54, 231, 54);
} 

.characters1,
.characters2,
.characters3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
    padding-left: 100px;
    background-color: rgb(243, 224, 224);
}

#text_bita {
    position: absolute;
    max-width:26rem;
    margin-top: 15rem;
    margin-left: 1rem;
}

.bita h3,
.tito h3,
.dan h3,
.lila h3,
.flora h3,
.plot h3 {
    font-size: 30px;
    font-family: 'Otomanopee One', sans-serif;
    text-transform: uppercase;
    color: white;
    margin-bottom: 0;
    margin-top: 3.5rem;
    margin-right: 0;
    text-align: center;
}

.bita p {
    font-size: 0.87rem;
    line-height: 22px;
    text-align: center;
    color: #fff;
    margin-top: 0;;
}

#text_tito {
    position: absolute;
    max-width: 10rem;
    margin-left: 15rem;
}

.tito p {
    font-size: 0.87rem;
    line-height: 22px;
    text-align: center;
    color: #fff;
    margin-top: 0;
}

.text__dan {
    position: absolute;
    width: 10rem;
    margin-left: 13rem;
    margin-top: 2rem;
}

.dan p{
    font-size: 0.87rem;
    line-height: 22px;
    text-align: center;
    color: #fff;
    margin-top: 0;
}

.text__lila {
    position: absolute;
    width: 12rem;
    margin-left: 2rem;
}

.lila p{
    font-size: 0.87rem;
    line-height: 22px;
    text-align: center;
    color: #fff;
    margin-top: 0;
}

.text__flora {
    position: absolute;
    width: 12rem;
    margin-left: 2rem;
    margin-top: 6rem;
}

.flora p {
    font-size: 0.87rem;
    line-height: 22px;
    text-align: center;
    color: #fff;
    margin-top: 0;
}

.text__plot {
    position: absolute;
    width: 12rem;
    margin-left: 2rem;
    margin-top: 5rem;
}

.plot p {
    font-size: 0.87rem;
    line-height: 22px;
    text-align: center;
    color: #fff;
    margin-top: 0;
}