.footer__background {
    height: 100px;
   
    background-image: url('../assets/image-footer.jpg');
}

.footer__icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;
    
}

.footer__icons ul {
    display: grid;
    grid-template-columns: repeat(3,auto);
    list-style:none;
}