.navbar__image {
    text-align: center;
    background-image: url('../assets/image-footer.jpg');
    height: 60%;   
}

.navbar__background {
    width: 60%;
    height: 100%;
    background-image: url('../assets/image-footer.jpg');
}

.navbar__links ul {
    display: grid;
    grid-template-columns: repeat(5,auto);
    text-align: center;
    list-style:none;
    background-color: cadetblue;
    height: 50px;
    margin-top: 0;
    padding-top: 20px;
}

.navbar__links li {
    padding-top: 5px;
}

.navbar__links a {
    text-decoration: none;
    font-weight: bold;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: rebeccapurple;
}